<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
        crossorigin="anonymous">

</head>
<body class="bg-dark text-white">
  <header class="mb-3" style="border-bottom: 1px solid #04d9ff">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
            <li class="lead nav-item">
              <a class="nav-link active" style="color: #04d9ff;" href="#">Главная страница</a>
            </li>
            <li class="lead nav-item">
              <a class="nav-link" th:href="@{/students}">Студенты</a>
            </li>
            <li class="lead nav-item">
              <a class="nav-link" th:href="@{/teachers}">Преподаватели</a>
            </li>
            <li class="lead nav-item">
              <a class="nav-link" th:href="@{/subjects}">Дисциплины</a>
            </li>
            <li class="lead nav-item">
              <a class="nav-link" th:href="@{/schedule}">Расписание занятий</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 text-white">
            <li class="lead nav-item">
              <a class="nav-link" th:href="@{/students/{id}(id = ${currentUser.getId()})}" th:text="|Личный кабинет|"></a>
            </li>
            <li class="lead nav-item ">
              <form th:action="@{/logout}" method="post">
                <input type="submit" class="nav-link" style="color: #04d9ff;" value="Выйти из аккаунта">
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-md" style="width: 80%;">

    <section class="main-part d-flex justify-content-center flex-column" style="height: 89vh;">
      <div class="first-part text-center mb-2" style="border-bottom: 1px solid #04d9ff">
        <h2 class="title display-5" th:text="|Добро пожаловать, ${currentUser.getSecondName()} ${currentUser.getFirstName()}|"></h2>
      </div>
      <div class="group d-flex flex-row p-3" style="align-items: center;">
        <div class="w-50 px-3">
          <p class="lead text-center" style="">В данном приложении вам доступны следующие функции:</p>
          <ul class="lead w-100" style="list-style: none;">
            <li class="p-2" style="border-left: 1px solid #04d9ff;">
              Просмотр списка студентов из группы и их информация;
            </li>
            <li class="p-2" style="border-left: 1px solid #04d9ff;">
              Просмотр списка преподавателей дисциплин на текущий семеcтр и их информация;
            </li>
            <li class="p-2" style="border-left: 1px solid #04d9ff;">
              Просмотр расписания занятий;
            </li>
            <li class="p-2" style="border-left: 1px solid #04d9ff;">
              Занимание виртуальной очереди на сдачу студенческих работ.
            </li>
          </ul>
        </div>
        <div class="w-50">
          <div class="btn-group w-100">
            <a class="btn btn-primary text-dark" style="background: #04d9ff; border: 1px solid #04d9ff" th:href="@{/schedule}">Занять очередь</a>
          </div>
        </div>
      </div>

    </section>

  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>